@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Raleway:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #dfe8f1;
}

header {
    margin: 0;
}

.row {
    margin: 0;
}

p {
    font-family: 'Raleway', sans-serif;
}

/* ---------------------------------------------- Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

.main-nav {
    font-family: inherit;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link {
    color: #000;
}

.nav-item.active a {
    color: #01A1B1;
    border-bottom: 1px solid #01A1B1;
}

.main-nav {
    font-family: inherit;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu a:hover {
    color: #01A1B1;
}

/* ---------------------------------------------- Home Page */

.jumbotron {
    background-color: transparent; 
}

.jumbotron-container {
    background: url("../images/cornwall-1.jpg") no-repeat center center fixed;
    height: 90vh;
    background-size: cover;
    opacity: 0.7;
}

.index-head {
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.history-container {
    text-align: center;
}

.home-images {
    max-width: 100%;
    margin-bottom: 2rem;
}
/* ---------------------------------------------- Footer */

.footer {
    text-align: center;
    background-color: #f8e5d0;
    font-family: inherit;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
}

.footer-top {
    margin-top: 15px;
}

.footer-bottom {
    margin-top: 5px;
}

hr {
    width: 135px;
}

.social-links li a i {
    font-size: 30px;
    color: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #01A1B1;
}

.footer-icon {
    margin-left: 60px;
}

.copyright {
    font-size: 10px;
}