@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Raleway:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #dfe8f1;
}

header {
    margin: 0;
}

h1, h2 {
    color: #01A1B1;
}
/* .row {
    margin: 0;
} */

p {}

/* ---------------------------------------------- Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.opaque-navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

.main-nav {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link {
    color: #000;
}

.nav-item.active a {
    color: #01A1B1;
}

#menu a:hover {
    color: #01A1B1;
}

.custom-toggler {
    color: #000;
    font-size: 28px;
}

.opaque-navbar.navbar-on-scroll {
    background-color: #fff;
    border:0px; 
    transition: background-color .5s ease 0s;
}



/* .navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: transparent;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #000;
    margin-bottom: 5px;
} */


/* ---------------------------------------------- Back To Top Button */

#to-top-btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; 
  outline: none; 
  background-color: #01A1B1;
  color: #fff; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1px 12px; 
  border-radius: 15px; /* Rounded corners */
  font-size: 50px; /* Increase font size */
}

#to-top-btn:hover {
  background-color: #61999e; /* Add a dark-grey background on hover */
}

/* ---------------------------------------------- Home Page, Experience Page, Contact Page */

.page-head {
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    font-family: inherit;
    letter-spacing: 1px;
}

/* ---------------------------------------------- Home Page */
.hero-img-1 {
    /* width: 100%; */
    height: 90vh;
    background: url("../images/cornwall-1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0.7;
} /*

.headline {
    text-align: center;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: underline;
    z-index: 2;
}

.top-para {
    margin-top: 30px;
} */

/* .jumbotron {
    background-color: transparent; 
}

.jumbotron-container {
    background: url("../images/cornwall-1.jpg") no-repeat center center fixed;
    height: 90vh;
    background-size: cover;
    opacity: 0.7;
} */

.history-container {}

.home-images {
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.vid-container {
    margin-bottom: 40px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------------------- Experience Page */

.hero-img-2 {
    width: 100%;
    height: 90vh;
    background: url("../images/cornwall-2.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.grouped-btns {
    text-align: center;
    word-spacing: 100px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.exp-btns {
    font-family: 'Lato', sans-serif;
    background-color: #01A1B1;
    border: 1px solid #000;
    color: #fff;
    height: 40px;
    width: 180px;
    margin-bottom: 3px;
}

.exp-btns:hover {
    background-color: #61999e;
    color: #fff;
    border: 1px solid #dfe8f1;
}

.exp-btn-icon {
    margin-right: 10px;
}

#map {
    height: 600px;
    width: 100%;
    margin-bottom: 40px;
}

/* ---------------------------------------------- Experience Page - info window content */

.info-head {
    color: #01A1B1;
    text-decoration: underline;
    font-weight: 300;
}

.info-address {
    color: #000;
    font-weight: 400;
}

.info-content {
    font-size: 14px;
}

.phone-num {
    color: #01A1B1;
    margin-left: 3px;
    font-weight: 400;
}

.beach-info-list {
    margin-left: 8px;
    color: #01A1B1;
}

.info-website {
    margin-left: 3px;
}

/* ---------------------------------------------- Experience Page - Top 3 recommendation cards */

.reco-cards {
    width: 90%;
}

.card-head {
    text-decoration: underline;
    color: #01A1B1;
    font-weight: 500;
}

.card-content {
    font-size: 14px;
}

#beach-recos {
    display: none;
    margin-bottom: 40px;
}

#activity-recos {
    display: none;
    margin-bottom: 40px;
}

#restaurant-recos {
    display: none;
    margin-bottom: 40px;
}

#nature-recos {
    display: none;
    margin-bottom: 40px;
}

#hotel-recos {
    display: none;
    margin-bottom: 40px;
}

#art-recos {
    display: none;
    margin-bottom: 40px;
}

/* ---------------------------------------------- Contact Page */

.hero-img-3 {
    /* width: 100%; */
    height: 90vh;
    background: url("../images/cornwall-3.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.form-style {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-labels {
    font-size: 14px;
    margin-top: 1rem;
}

.sub-btn {
    margin-top: 1rem;
}

.button-colour {
    background-color: #01A1B1;
    border: 1px solid #000;
    color: #fff;
}

.button-colour:hover {
    background-color: #61999e;
    color: #fff;
    border: 1px solid #dfe8f1;
}

.modal-head {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.modal-content {
    font-family: inherit;
    font-weight: 300;
}
/* ---------------------------------------------- Footer */

.footer {
    text-align: center;
    background-color: #F8E5D0;
    font-family: 'Lato', sans-serif;
    /* font-size: 25px; */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 0;
    margin-left: 0;
}

.footer-top {
    margin-top: 15px;
}

.footer-bottom {
    margin-top: 5px;
}

/* hr {
    width: 135px;
} */

.social-links li a i {
    font-size: 30px;
    color: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #01A1B1;
}

.footer-icon {
    margin-left: 60px;
}

/* ---------------------------------------------- Media Queries */

@media only screen and (max-width:1200px) {
    .vid-container {
        width: 100%;
    }
}

@media only screen and (min-width:1082px) and (max-width:1099px) {
    .image-text {
        font-size: 1.8rem;
    }

    .extra-centered {
        top: 44%;
    }
}

@media only screen and (max-width:1000px) {
    .reco-cards {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .reco-cards {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width:576px) and (max-width:730px) {
    .image-text {
        font-size: 1.5rem;
    }

    .extra-centered {
        top: 37%;
    }
}

@media only screen and (max-width:414px) {
    #to-top-btn {
        font-size: 36px;
        bottom: 110px;
        right: 15px;
    }

    #map {
        height: 500px;
    }
}

@media only screen and (max-width:410px) {
    .logo {
        width: 75%;
    }

    .logo-image {
        width: 100%;
    }
}

@media only screen and (min-width:361px) and (max-width:375px) {
    .image-text {
        font-size: 1.8rem;
    }

    .extra-centered {
        top: 38%;
    }
}

@media only screen and (min-width: 352px) and (max-width:376px) {
    .social-links li a i {
        font-size: 26px;
    }

    .footer-icon {
        margin-left: 55px;
    }
}

@media only screen and (max-width:360px) {
    h1 {
        font-size: 2.2em;
    }
}

@media only screen and (min-width:321px) and (max-width:360px) {
    .image-text {
        font-size: 1.8rem;
    }

    .extra-centered {
        top: 37%;
    }
}

@media only screen and (max-width:351px) {
    .social-links li a i {
        font-size: 26px;
    }

    .footer-icon {
        margin-left: 45px;
    }
}

@media only screen and (min-width:321px) and (max-width:340px) {
    .image-text {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width:320px) {
    .image-text {
        font-size: 1.5rem;
    }

    .centered {
        top: 38%;
    }

    .extra-centered {
        top: 36%;
    }
}
    


